{% extends 'appbuilder/init.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>
{% block body %}
<div id="passwordChangeModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ _('Change Password') }}</h5>
                <input type="hidden" name="user_id" value="">
            </div>
            <div class="modal-body">
                <form id="passwordChangeForm" method="post" action="/change_password">
                    <div class="form-group">
                        <label for="newPassword">{{ _('Your account password has expired. Please enter your new password in the input field below') }}:</label>
                        <input type="password" class="form-control" id="newPassword" name="new_password" required>
                    </div>
                    <button type="submit" class="btn btn-primary" id="finishBtnNewPassword">{{ _('Change Password') }}</button>
                </form>
                <div id="passwordChangeError" style="padding: 5px;"></div>
            </div>
        </div>
    </div>
</div>

<script>
setTimeout(function() {
    var modal = document.getElementById("passwordChangeModal");
    var passwordChangeForm = document.getElementById("passwordChangeForm");
    var errorDiv = document.getElementById("passwordChangeError");

    passwordChangeForm.onsubmit = function(e) {
        e.preventDefault();

        var formData = new FormData(passwordChangeForm);
        fetch("/api/change_password", {
            method: "POST",
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(data => {
                    throw new Error(data.message); // Если ошибка, выбрасываем исключение
                });
            }
            modal.style.display = "none"; // Если все хорошо, скрываем модальное окно
            location.reload()
            return response.json();
        })
        .then(data => {
            // Обработка успешного ответа, если необходимо
        })
        .catch(error => {
            errorDiv.textContent = error.message; // Показываем ошибку в модальном окне
            errorDiv.style.color = "red"; // Делаем текст ошибки красным
        });
    };

    modal.style.display = "block";
}, 250);
</script>
{% endblock %}

</body>
</html>